/* CSS Document */
body {
	margin: 0px 0px 0px 0px;
	background-color: #D9DDE0;
	font-size: 9pt;
	font-family: Arial;
	color: #666666;
}

input {
	border: #7F7C78 1px solid;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	margin: 3px;
}

input[type=text]{
    min-width:150px;
}

img {
	border: 0px;
}

table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
}

#container {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 949px;
	margin: auto;
	text-align: center;
	background-image: url('../_images/taustakuva.gif');
	background-repeat: repeat-y;
	background-position: top center;
	padding-top: 9px;
}

#header {
	width: 937px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 93px;
	/*background-image: url('../_images/headertausta.gif');*/
	background-image: url('../_images/bovenband.gif');
	background-repeat: repeat-y;
	background-position: top center;
}

#top {
	height: 189px;
	/*border: 1px black solid;*/ /*overflow: auto;*/
}

#headerl {
	position: relative;
	top: 30px;
	left: 26px;
	float: left;
	text-align: left; /* ie */
}

#headerl h1{
	color: white;
	font-size: 18pt;
	position: relative;
	top: -10px;
}

#headerr {
	position: relative;
	top: 58px;
	right: 24px;
	float: right;
}

#bovenband {
	height: 189px;
	background-image: url('../_images/header-oud-logo.jpg');
	background-repeat: no-repeat;
	background-position: top left;
}


#content {
	text-align: left;
	background-image: url('../_images/contentbg.gif');
	background-repeat: no-repeat;
	background-position: top center;
	padding: 17px 25px 0px 28px;
}

#inhoud {
	float: left;
	width: 650px;
	/*border-spacing: 50px;*/
	position: relative;
	left: 15px;
	top: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#footer {
	color: #9EA0A2;
	font-family: Arial;
	font-size: 10px;
	padding-top: 18px;
	position: relative;
	height: 30px;
	clear: both;
	background-image: url('../_images/footer.gif');
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #D9DDE0;
	font-weight: bold;
}

h3{
	font-size: 12pt;
}

a:link,a:visited {
	color: #CA863C;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #CA863C;
	/*text-decoration: underline;*/
	text-decoration: none;
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	line-height: 15px;
	padding-left: 0px;
	padding-top: 0px;
	left: 10px;
	position: relative;
	list-style-image: url('../_images/bullet.gif');
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size: 13pt;
}

table {
	border: 0px;
}

td {
	vertical-align: top;
}

.onderlijn {
	border-bottom: 1px #666666 solid;
	padding-top: 5px;
	padding-bottom: 2px;
}

.vet {
	font-weight: bold;
}

.klein {
	font-size: 8pt;
}

.rand {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.error{
	color: #FF0000;
	font-weight: bold;
}

.lichter {
	color: #BBBBBB;
}

.noshow {
	list-style-type: none;
	list-style-image: none;
}

#navi {
	background-image: url('../_images/navigointibg.gif');
	background-repeat: no-repeat;
	background-position: top center;
	height: 28px;
	margin-top: 2px;
	/*margin-left: 14px;*/
	padding-left: 14px;
}

#navi_sub{
	height: 28px;
	margin-top: 2px;
	padding-left: 14px;

}

#navi_sub li, #navi li{
	list-style: none;
	display: inline;
	//word-spacing: 0px;
	padding-left: 40px;
}

#menu-links{
	float: left;
	width: 180px;
	/*border: 1px red solid;*/
}

#view-content{
	float: right;
	width: 450px;
}

.messages{
	border: 1px solid #96A01E;
	background-color: #DAE082;
	padding: 5px;
	list-style: none;
}

.messages li{
	list-style: none;
}

#cms_page .onderstreept{
	border-bottom: 1px black solid;
	width: 180px;
	height: 50px;
}
