/* CSS Document */
body {
	margin: 0px 0px 0px 0px;
	background-color: #D9DDE0;
	font-size: 9pt;
	/*text-align: center;*/
	font-family: Arial;
	color: #666666;
}

input {
	border: #7F7C78 1px solid;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	margin: 3px;
}

img {
	border: 0px;
}

table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
}

#container {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 949px;
	margin: auto;
	text-align: center;
	background-image: url('../_images/taustakuva.gif');
	background-repeat: repeat-y;
	background-position: top center;
	padding-top: 9px;
}

#header {
	width: 937px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 93px;
	/*background-image: url('../_images/headertausta.gif');*/
	background-image: url('../_images/bovenband.gif');
	background-repeat: repeat-y;
	background-position: top center;
}

#top {
	height: 189px;
	/*border: 1px black solid;*/ /*overflow: auto;*/
}

#headerl {
	position: relative;
	top: 30px;
	left: 26px;
	float: left;
	text-align: left; /* ie */
}

#headerr {
	position: relative;
	top: 58px;
	right: 24px;
	float: right;
}

div#search {
	
}

#search_out {
	float: left;
	width: 169px;
}

#search_in {
	padding: 0px;
	height: 22px !important;
	height: 24px;
	overflow: hidden;
}

#search_in form {
	padding: 0;
	margin: 0;
}

#search_in .inputbox {
	border: 0px;
	padding: 3px 3px 3px 11px;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-image: url('../_images/ibackground.gif');
	background-repeat: no-repeat;
	background-position: top left;
	width: 169px;
	height: 22px;
}

#bovenband {
	height: 189px;
	/*background-image: url('../_images/headerkuva.jpg');*/
	background-image: url('../_images/header-oud-logo.jpg');
	background-repeat: no-repeat;
	background-position: top left;
}

.uitklapmenu {
	height: 440px;
}

.kolomInhoud {
	width: 250px;
}

#aanmelden {
	border: #7F7C78 1px solid;
	padding: 5px;
	padding-left: 20px;
	position: relative;
	top: -190px;
	left: 620px;
	width: 250px;
}

#navi {
	background-image: url('../_images/navigointibg.gif');
	background-repeat: no-repeat;
	background-position: top center;
	height: 28px;
	margin-top: 2px;
	/*margin-left: 14px;*/
	padding-left: 14px;
}

#content {
	text-align: left;
	background-image: url('../_images/contentbg.gif');
	background-repeat: no-repeat;
	background-position: top center;
	padding: 17px 25px 0px 28px;
}

#inhoud {
	float: left;
	width: 650px;
	/*border-spacing: 50px;*/
	position: relative;
	left: 15px;
	top: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#uitklapmenu {
	float: left;
	width: 220px;
	position: relative;
	top: 2px;
	height: 450px;
}

#footer {
	color: #9EA0A2;
	font-family: Arial;
	font-size: 10px;
	padding-top: 18px;
	position: relative;
	height: 30px;
	clear: both;
	background-image: url('../_images/footer.gif');
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #D9DDE0;
	font-weight: bold;
}

/* for joomla */
ul#mainlevel-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

ul#mainlevel-nav li {
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	margin: 0;
	font-size: 11px;
	line-height: 21px;
	white-space: nowrap;
	/*border-right: 1px solid #cccccc;*/
	/*background-image: url('../_images/sepa.gif');
	background-repeat: no-repeat;
	background-position: top right;*/
}

ul#mainlevel-nav li a {
	font-family: Arial;
	font-weight: bold;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: #5A5E68;
	background: transparent;
	margin-top: 4px;
}

#buttons>ul#mainlevel-nav li a {
	width: auto;
}

ul#mainlevel-nav li a:hover { /*color: #3A9B43;*/
	color: #CA863C;
}

div.moduletable {
	margin: 0px 0px 10px 0px;
	/*width: 224px;*/
	height: 189px;
	width: 33%;
	font-family: Arial;
	font-size: 13px;
	color: #666666;
	float: left;
	font-family: Arial;
	/*padding-right: 10px;*/
}

div.moduletable h3 {
	/*background-image: url('../_images/moduletitlebg.gif');*/
	background-image: url('../_images/moduletitlesnt.gif');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 4px 0px 0px 11px;
	/*height: 35px;*/
	height: 25px;
	margin: 0;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
}

div.moduletable table {
	font-family: Arial;
	font-size: 11px;
	color: #666666;
	width: 204px;
	margin: 0px 10px 0px 10px;
}

div.moduletable table.contentpaneopen {
	margin: 0px 10px 0px 10px;
	text-align: left;
}

div.moduletable table.contentpaneopen td {
	text-align: left;
}

div.moduletable table.poll {
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

a.mainlevel:link,a.mainlevel:visited {
	display: block;
	/*background-image: url('../_images/bulletti.gif');
	background-repeat: no-repeat;
	background-position: top left;*/
	/*vertical-align: middle;*/
	font-size: 11px;
	font-weight: bold;
	/*color: #CA863C;*/
	color: #ca863c;
	text-align: left;
	padding-top: 5px;
	padding-left: 17px;
	height: 15px !important;
	height: 20px;
	text-decoration: none;
}

a.mainlevel:hover {
	/*background-image: url('../_images/bulletti_on.gif');
	background-repeat: no-repeat;
	background-position: top left;*/
	text-decoration: none;
	color: #3A9B43;
	font-weight: bold;
}

a.mainlevel#active_menu {
	/*background-image: url('../_images/bulletti_on.gif');
	background-repeat: no-repeat;
	background-position: top left;*/
	color: #3A9B43;
	font-weight: bold;
}

a.mainlevel#active_menu:hover {
	/*background: url('../_images/bulletti_on.gif') no-repeat;*/
	color: #3A9B43;
	font-weight: bold;
}

.small {
	font-family: Arial;
	font-size: 10px;
	color: #999999;
}

a:link,a:visited {
	color: #CA863C;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #CA863C;
	/*text-decoration: underline;*/
	text-decoration: none;
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	line-height: 15px;
	padding-left: -5px;
	padding-top: 0px;
	left: 10px;
	position: relative;
	list-style-image: url('../_images/bullet.gif');
	/*background-image: url('../_images/bullet.gif');
	background-repeat: no-repeat;
	background-position: top left;*/
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size: 13pt;
}

table {
	border: 0px;
}

td {
	vertical-align: top;
}

#admin {
	text-align: left;
}

.handje {
	font-size: 10pt;
}

.handje:hover {
	cursor: pointer;
	color: #CA863C;
}

.onderlijn {
	border-bottom: 1px #666666 solid;
	padding-top: 5px;
	padding-bottom: 2px;
}

.vet {
	font-weight: bold;
}

.klein {
	font-size: 8pt;
}

.rand {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.fout{
	color: #FF0000;
	font-weight: bold;
}

.rode_achtergrond {
	background-color: #FF00FF;
}

.lichter {
	color: #BBBBBB;
}

#inhoud_iframe {
	padding: 10px 20px;
}

.noshow {
	list-style-type: none;
	list-style-image: none;
}